[Unit]
Description=Soda Machine Process

[Service]
ExecStart=/usr/local/bin/twistd \
    --nodaemon \
    --python=/home/pi/lfizz/lfizz.tac \
    --pidfile lfizz.pid

WorkingDirectory=/tmp

User=pi
Group=pi

Restart=always

[Install]
WantedBy=multi-user.target
